# Importing the libraries

In [561]:
from pandasdmx import Request

In [562]:
import pandas as pd

In [563]:
from bokeh.io import output_notebook, show
from bokeh.plotting import figure

In [564]:
output_notebook()

# Connecting to the webservice

In [565]:
estat = Request('ESTAT')

### Downloading dataflow definitions

In [566]:
dflow = estat.dataflow()

## Defining functions

### Data structure

In [567]:
def dsd_resp(id):
    """
    The function takes a dataflow identifier and requests from the Eurostat SDMX api the dataflow's datastructure, datastructure id and datastructure response.
    """    
    # Defining the data set's dataflow based on the data set id.
    df = dflow.dataflow[id]
    
    # Printing the table's name
    print("The table's name:")
    print(dflow.write().dataflow.loc[id][0])
    
    # Acquiring the dataflow's datastructure id
    dsd_id = df.structure.id
    
    # Requesting for the dataflow's datastructure
    dsd_resp = estat.get(resource_type = 'datastructure', resource_id = dsd_id)
    
    # Requesting the dataflow's datastructure
    dsd = dsd_resp.datastructure[dsd_id]
    
    return dsd_resp, dsd_id, dsd

### Datastructure attributes

In [568]:
def dsd_att(dsd):
    """The function takes a table datastructure definition and prints its measure, dimension and attribute lists."""
    # Measures
    print("Measures:")
    print(dsd.measures.aslist())
    
    # Dimensions
    print("\nDimensions:")
    print(dsd.dimensions.aslist())
    
    # Attributes
    print("\nAttributes:")
    print(dsd.attributes.aslist())

## Selecting the tables

### Listing the tables from the 'High-tech industry and knowledge-intensive services (**htec**)' database

In [569]:
dflow.write().dataflow[dflow.write().dataflow.index.str.startswith('htec') == True]

                                                               name
dataflow
htec_cis3         Innovation in high-tech sectors in SMEs (CIS3)...
htec_cis4         Innovation in high-tech sectors (CIS 2004), EU...
htec_cis5         Innovation in high-tech sectors (CIS 2006), EU...
htec_cis6         Innovation in high-tech sectors (CIS 2008, CIS...
htec_eco_ent      Enterprises in high-tech sectors by NACE Rev.1...
htec_eco_ent2     Enterprises in high-tech sectors by NACE Rev.2...
htec_eco_sbs      Economic data in high-tech sectors by NACE Rev...
htec_eco_sbs2     Economic data in high-tech sectors by NACE Rev...
htec_emp_nat      Employment in technology and knowledge-intensi...
htec_emp_nat2     Employment in technology and knowledge-intensi...
htec_emp_nisced   Employment in technology and knowledge-intensi...
htec_emp_nisced2  Employment in technology and knowledge-intensi...
htec_emp_nisco    Employment in technology and knowledge-intensi...
htec_emp_nisco2   Employment in technology and knowledge-intensi...
htec_emp_reg      Employment in technology and knowledge-intensi...
htec_emp_reg2     Employment in technology and knowledge-intensi...
htec_emp_risced   Employment in technology and knowledge-intensi...
htec_emp_risced2  Employment in technology and knowledge-intensi...
htec_emp_risco    Employment in technology and knowledge-intensi...
htec_emp_risco2   Employment in technology and knowledge-intensi...
htec_emp_sbs      Employment statistics on high-tech industries ...
htec_emp_sbs2     Employment statistics on high-tech industries ...
htec_kia_emp      Annual data on employment in knowledge-intensi...
htec_kia_emp2     Annual data on employment in knowledge-intensi...
htec_si_exp4      High-tech exports - Exports of high technology...
htec_sti_exp      Business enterprise R&D expenditure in high-te...
htec_sti_exp2     Business enterprise R&D expenditure in high-te...
htec_sti_pers     Business enterprise R&D personnel in high-tech...
htec_sti_pers2    Business enterprise R&D personnel in high-tech...
htec_trd_group4   High-tech trade by high-tech group of products...
htec_trd_tot4     Total high-tech trade in million euro and as a...
htec_vci_stage1   Venture capital investment by aggregated stage...
htec_vci_stage2   Venture capital investment by detailed stage o...

### The tables I am going to analyze

In [570]:
id1 = 'htec_sti_exp2'

In [571]:
dflow.write().dataflow.loc[id1][0]

'Business enterprise R&D expenditure in high-tech sectors - NACE Rev. 2'

In [572]:
id2 = 'htec_vci_stage2'

In [573]:
dflow.write().dataflow.loc[id2][0]

'Venture capital investment by detailed stage of development (from 2007, source: EVCA)'

# Business R&D expenditure

### Getting the table's dataflow definition and datastructure

In [574]:
dsd_resp1, dsd_id1, dsd1 = dsd_resp(id1)

The table's name:
Business enterprise R&D expenditure in high-tech sectors - NACE Rev. 2

### Datastructure measures, dimensions, attributes and codelist

In [575]:
dsd_att(dsd1)

Measures:
[PrimaryMeasure | OBS_VALUE]

Dimensions:
[Dimension | FREQ, Dimension | UNIT, Dimension | NACE_R2, Dimension | GEO, TimeDimension | TIME_PERIOD]

Attributes:
[DataAttribute | OBS_FLAG, DataAttribute | OBS_STATUS]

Codelist:

In [ ]:
dsd_resp1.write().codelist

                      dim_or_attr  \
FREQ       FREQ                 D
           A                    D
           D                    D
           H                    D
           M                    D
           Q                    D
           S                    D
           W                    D
UNIT       UNIT                 D
           MIO_EUR              D
NACE_R2    NACE_R2              D
           C                    D
           C_HTC                D
           C_HTC_M              D
           C_LTC                D
           C_LTC_M              D
           G-N                  D
           TOTAL                D
GEO        GEO                  D
           AT                   D
           BE                   D
           BG                   D
           CH                   D
           CN_X_HK              D
           CY                   D
           CZ                   D
           DE                   D
           DK                   D
           EE                   D
           EL                   D
...                           ...
           NL                   D
           NO                   D
           PL                   D
           PT                   D
           RO                   D
           RS                   D
           RU                   D
           SE                   D
           SI                   D
           SK                   D
           TR                   D
           UK                   D
           US                   D
OBS_FLAG   OBS_FLAG             A
           b                    A
           c                    A
           d                    A
           e                    A
           f                    A
           i                    A
           n                    A
           p                    A
           r                    A
           s                    A
           u                    A
           z                    A
OBS_STATUS OBS_STATUS           A
           -                    A
           0                    A
           na                   A

                                                                   name
FREQ       FREQ                                                    FREQ
           A                                                     Annual
           D                                                      Daily
           H                                                  Half-year
           M                                                    Monthly
           Q                                                  Quarterly
           S                                                Semi-annual
           W                                                     Weekly
UNIT       UNIT                                                    UNIT
           MIO_EUR                                         Million euro
NACE_R2    NACE_R2                                              NACE_R2
           C                                              Manufacturing
           C_HTC                          High-technology manufacturing
           C_HTC_M                 Medium high-technology manufacturing
           C_LTC                           Low-technology manufacturing
           C_LTC_M                  Medium low-technology manufacturing
           G-N                         Services of the business economy
           TOTAL                            Total - all NACE activities
GEO        GEO                                                      GEO
           AT                                                   Austria
           BE                                                   Belgium
           BG                                                  Bulgaria
           CH                                               Switzerland
           CN_X_HK                               China except Hong Kong
           CY                                                    Cyprus
           CZ                                            Czech Republic
           DE          Germany (until 1990 former territory of the FRG)
           DK                                                   Denmark
           EE                                                   Estonia
           EL                                                    Greece
...                                                                 ...
           NL                                               Netherlands
           NO                                                    Norway
           PL                                                    Poland
           PT                                                  Portugal
           RO                                                   Romania
           RS                                                    Serbia
           RU                                                    Russia
           SE                                                    Sweden
           SI                                                  Slovenia
           SK                                                  Slovakia
           TR                                                    Turkey
           UK                                            United Kingdom
           US                                             United States
OBS_FLAG   OBS_FLAG                                   Observation flag.
           b                                       break in time series
           c                                               confidential
           d                           definition differs, see metadata
           e                                                  estimated
           f                                                   forecast
           i                                  see metadata (phased out)
           n                                            not significant
           p                                                provisional
           r                                                    revised
           s                             Eurostat estimate (phased out)
           u                                            low reliability
           z                                             not applicable
OBS_STATUS OBS_STATUS                               Observation status.
           -             not applicable or real zero or zero by default
           0                            less than half of the unit used
           na                                             not available

[76 rows x 2 columns]

### Requesting the data

In [ ]:
dresp1 = estat.get(resource_type = 'data',
                   resource_id = id1,
                   params = {'references': None,
                             'startPeriod': '2014',
                             'endPeriod': '2014'
                            })

In [ ]:
dat1 = dresp1.data

In [ ]:
dat1.dim_at_obs

In [ ]:
ser1 = list(dat1.series)
len(ser1)

In [ ]:
ser1[5].key

In [ ]:
set(s.key.GEO for s in dat1.series)

### Writing the data into DataFrame

In [ ]:
iter1 = (s for s in dat1.series if (s.key.GEO in ['CN_X_HK', 'EU28', 'US']) == False)
tab1 = dresp1.write(iter1)
tab1 = tab1.stack('GEO')
tab1.columns = tab1.columns.droplevel(['FREQ','UNIT']) # Dropping 'FREQ' and 'UNIT' levels
tab1 = tab1.loc['2014']
tab1.index = tab1.index.droplevel(0) # Dropping the 'TIME_PERIOD' axis
tab1.dropna(axis = 0, how = 'any', inplace = True)
tab1

In [ ]:
p = figure(plot_width = 400, plot_height = 400)
p.circle(tab1.loc[:,'C'], tab1.loc[:,'G-N'], size = 10, color = "purple", alpha = 0.6)
show(p)

# Venture capital data

### Getting the table's dataflow definition and datastructure

In [ ]:
dsd_resp2, dsd_id2, dsd2 = dsd_resp(id2)

### Downloading the table's datastructure definition

In [ ]:
dsd_att(dsd2)

Codelist:

In [ ]:
dsd_resp2.write().codelist.loc[:,:] # [['EXPEND', 'UNIT'],:]

### Requesting the data

In [ ]:
dresp2 = estat.get(resource_type = 'data',
                   resource_id = id2,
                   params = {'references': None,
                             #'startPeriod': '2014',
                             #'endPeriod': '2014'
                            })

In [ ]:
dat2 = dresp2.data

In [ ]:
dat2.dim_at_obs

In [ ]:
ser2 = list(dat2.series)
len(ser2)

In [ ]:
ser2[5].key

In [ ]:
set(s.key.UNIT for s in dat2.series)

### Writing the data into DataFrame

In [ ]:
iter2 = (s for s in dat2.series if (s.key.GEO in ['EU15']) == False)
tab2 = dresp2.write(iter2)
tab2 = tab2.stack('GEO')
tab2.columns = tab2.columns.droplevel(['FREQ']) # Dropping 'FREQ' and 'UNIT' levels
tab2.swaplevel('UNIT', 'EXPEND', axis = 1)
tab2 = tab2.loc['2015', ['PC_GDP', 'MIO_EUR']]
# tab2.dropna(axis = 0, how = 'any', inplace = True)
# tab2.index = tab2.index.droplevel(0) # Dropping the 'TIME_PERIOD' axis
tab2

In [ ]:
p = figure(plot_width = 400, plot_height = 400)
p.square(tab2.loc[:,('PC_GDP','INV')], tab2.loc[:,('PC_GDP','INV_VEN')], size = tab2.loc[:,('MIO_EUR','INV')] / 500, color = "blue", alpha = 0.6)
show(p)