# Importing the libraries

In [37]:
from pandasdmx import Request

In [38]:
import pandas as pd

In [39]:
from bokeh.io import output_notebook, show
from bokeh.plotting import figure

In [40]:
output_notebook()

# Connecting to the webservice

In [41]:
estat = Request('ESTAT')

### Downloading dataflow definitions

In [42]:
dflow = estat.dataflow()

## Defining functions

### Data structure

In [43]:
def dsd_resp(id):
    """
    The function takes a dataflow identifier and requests from the Eurostat SDMX api the dataflow's datastructure, datastructure id and datastructure response.
    """    
    # Defining the data set's dataflow based on the data set id.
    df = dflow.dataflow[id]
    
    # Printing the table's name
    print("The table's name:")
    print(dflow.write().dataflow.loc[id][0])
    
    # Acquiring the dataflow's datastructure id
    dsd_id = df.structure.id
    
    # Requesting for the dataflow's datastructure
    dsd_resp = estat.get(resource_type = 'datastructure', resource_id = dsd_id)
    
    # Requesting the dataflow's datastructure
    dsd = dsd_resp.datastructure[dsd_id]
    
    return dsd_resp, dsd_id, dsd

### Datastructure attributes

In [44]:
def dsd_att(dsd):
    """The function takes a table datastructure definition and prints its measure, dimension and attribute lists."""
    # Measures
    print("Measures:")
    print(dsd.measures.aslist())
    
    # Dimensions
    print("\nDimensions:")
    print(dsd.dimensions.aslist())
    
    # Attributes
    print("\nAttributes:")
    print(dsd.attributes.aslist())

## Selecting the tables

### Listing the tables from the 'High-tech industry and knowledge-intensive services (**htec**)' database

In [45]:
dflow.write().dataflow[dflow.write().dataflow.index.str.startswith('htec') == True]

                                                               name
dataflow
htec_cis3         Innovation in high-tech sectors in SMEs (CIS3)...
htec_cis4         Innovation in high-tech sectors (CIS 2004), EU...
htec_cis5         Innovation in high-tech sectors (CIS 2006), EU...
htec_cis6         Innovation in high-tech sectors (CIS 2008, CIS...
htec_eco_ent      Enterprises in high-tech sectors by NACE Rev.1...
htec_eco_ent2     Enterprises in high-tech sectors by NACE Rev.2...
htec_eco_sbs      Economic data in high-tech sectors by NACE Rev...
htec_eco_sbs2     Economic data in high-tech sectors by NACE Rev...
htec_emp_nat      Employment in technology and knowledge-intensi...
htec_emp_nat2     Employment in technology and knowledge-intensi...
htec_emp_nisced   Employment in technology and knowledge-intensi...
htec_emp_nisced2  Employment in technology and knowledge-intensi...
htec_emp_nisco    Employment in technology and knowledge-intensi...
htec_emp_nisco2   Employment in technology and knowledge-intensi...
htec_emp_reg      Employment in technology and knowledge-intensi...
htec_emp_reg2     Employment in technology and knowledge-intensi...
htec_emp_risced   Employment in technology and knowledge-intensi...
htec_emp_risced2  Employment in technology and knowledge-intensi...
htec_emp_risco    Employment in technology and knowledge-intensi...
htec_emp_risco2   Employment in technology and knowledge-intensi...
htec_emp_sbs      Employment statistics on high-tech industries ...
htec_emp_sbs2     Employment statistics on high-tech industries ...
htec_kia_emp      Annual data on employment in knowledge-intensi...
htec_kia_emp2     Annual data on employment in knowledge-intensi...
htec_si_exp4      High-tech exports - Exports of high technology...
htec_sti_exp      Business enterprise R&D expenditure in high-te...
htec_sti_exp2     Business enterprise R&D expenditure in high-te...
htec_sti_pers     Business enterprise R&D personnel in high-tech...
htec_sti_pers2    Business enterprise R&D personnel in high-tech...
htec_trd_group4   High-tech trade by high-tech group of products...
htec_trd_tot4     Total high-tech trade in million euro and as a...
htec_vci_stage1   Venture capital investment by aggregated stage...
htec_vci_stage2   Venture capital investment by detailed stage o...

### The tables I am going to analyze

In [46]:
id1 = 'htec_sti_exp2'

In [47]:
dflow.write().dataflow.loc[id1][0]

'Business enterprise R&D expenditure in high-tech sectors - NACE Rev. 2'

In [48]:
id2 = 'htec_vci_stage2'

In [49]:
dflow.write().dataflow.loc[id2][0]

'Venture capital investment by detailed stage of development (from 2007, source: EVCA)'

# Venture capital data

### Getting the table's dataflow definition and datastructure

In [50]:
dsd_resp2, dsd_id2, dsd2 = dsd_resp(id2)

The table's name:
Venture capital investment by detailed stage of development (from 2007, source: EVCA)

### Downloading the table's datastructure definition

In [51]:
dsd_att(dsd2)

Measures:
[PrimaryMeasure | OBS_VALUE]

Dimensions:
[Dimension | FREQ, Dimension | EXPEND, Dimension | UNIT, Dimension | GEO, TimeDimension | TIME_PERIOD]

Attributes:
[DataAttribute | OBS_FLAG, DataAttribute | OBS_STATUS]

Codelist:

In [52]:
dsd_resp2.write().codelist.loc[:,:] # [['EXPEND', 'UNIT'],:]

                        dim_or_attr  \
FREQ       FREQ                   D
           A                      D
           D                      D
           H                      D
           M                      D
           Q                      D
           S                      D
           W                      D
EXPEND     EXPEND                 D
           INV                    D
           INV_BUY                D
           INV_GROW               D
           INV_REPL               D
           INV_RESC               D
           INV_VEN                D
           INV_VEN_LATE           D
           INV_VEN_SEED           D
           INV_VEN_STAR           D
UNIT       UNIT                   D
           MIO_EUR                D
           NR_COMP                D
           PC_GDP                 D
GEO        GEO                    D
           AT                     D
           BE                     D
           BG                     D
           CH                     D
           CZ                     D
           DE                     D
           DK                     D
...                             ...
           FI                     D
           FR                     D
           HU                     D
           IE                     D
           IT                     D
           LU                     D
           NL                     D
           NO                     D
           PL                     D
           PT                     D
           RO                     D
           SE                     D
           UK                     D
OBS_FLAG   OBS_FLAG               A
           b                      A
           c                      A
           d                      A
           e                      A
           f                      A
           i                      A
           n                      A
           p                      A
           r                      A
           s                      A
           u                      A
           z                      A
OBS_STATUS OBS_STATUS             A
           -                      A
           0                      A
           na                     A

                                                                      name
FREQ       FREQ                                                       FREQ
           A                                                        Annual
           D                                                         Daily
           H                                                     Half-year
           M                                                       Monthly
           Q                                                     Quarterly
           S                                                   Semi-annual
           W                                                        Weekly
EXPEND     EXPEND                                                   EXPEND
           INV                                                  Investment
           INV_BUY                                   Investment for buyout
           INV_GROW                             Investment in growth stage
           INV_REPL                             Investment for replacement
           INV_RESC                       Investment for rescue/turnaround
           INV_VEN       Venture capital investment (seed, start-up and...
           INV_VEN_LATE                          Investment in later stage
           INV_VEN_SEED                           Investment in seed stage
           INV_VEN_STAR                       Investment in start-up stage
UNIT       UNIT                                                       UNIT
           MIO_EUR                                            Million euro
           NR_COMP                                     Number of companies
           PC_GDP               Percentage of gross domestic product (GDP)
GEO        GEO                                                         GEO
           AT                                                      Austria
           BE                                                      Belgium
           BG                                                     Bulgaria
           CH                                                  Switzerland
           CZ                                               Czech Republic
           DE             Germany (until 1990 former territory of the FRG)
           DK                                                      Denmark
...                                                                    ...
           FI                                                      Finland
           FR                                                       France
           HU                                                      Hungary
           IE                                                      Ireland
           IT                                                        Italy
           LU                                                   Luxembourg
           NL                                                  Netherlands
           NO                                                       Norway
           PL                                                       Poland
           PT                                                     Portugal
           RO                                                      Romania
           SE                                                       Sweden
           UK                                               United Kingdom
OBS_FLAG   OBS_FLAG                                      Observation flag.
           b                                          break in time series
           c                                                  confidential
           d                              definition differs, see metadata
           e                                                     estimated
           f                                                      forecast
           i                                     see metadata (phased out)
           n                                               not significant
           p                                                   provisional
           r                                                       revised
           s                                Eurostat estimate (phased out)
           u                                               low reliability
           z                                                not applicable
OBS_STATUS OBS_STATUS                                  Observation status.
           -                not applicable or real zero or zero by default
           0                               less than half of the unit used
           na                                                not available

[63 rows x 2 columns]

### Requesting the data

In [53]:
dresp2 = estat.get(resource_type = 'data',
                   resource_id = id2,
                   params = {'references': None,
                             #'startPeriod': '2014',
                             #'endPeriod': '2014'
                            })

In [54]:
dat2 = dresp2.data

In [55]:
dat2.dim_at_obs

'TIME_PERIOD'

In [56]:
ser2 = list(dat2.series)
len(ser2)

621

In [57]:
ser2[5].key

SeriesKey(UNIT='MIO_EUR', EXPEND='INV', GEO='DE', FREQ='A')

In [58]:
set(s.key.UNIT for s in dat2.series)

{'MIO_EUR', 'NR_COMP', 'PC_GDP'}

### Writing the data into DataFrame

In [59]:
iter2 = (s for s in dat2.series if (s.key.GEO in ['EU15']) == False)
tab2 = dresp2.write(iter2)
tab2 = tab2.stack('GEO')
tab2.columns = tab2.columns.droplevel(['FREQ']) # Dropping 'FREQ' and 'UNIT' levels
tab2.swaplevel('UNIT', 'EXPEND', axis = 1)
tab2 = tab2.loc['2015', ['PC_GDP', 'MIO_EUR']]
# tab2.dropna(axis = 0, how = 'any', inplace = True)
# tab2.index = tab2.index.droplevel(0) # Dropping the 'TIME_PERIOD' axis
tab2

UNIT             MIO_EUR                                              \
EXPEND               INV  INV_BUY INV_GROW INV_REPL INV_RESC INV_VEN
TIME_PERIOD GEO
2015        AT     109.0     27.0     54.0      0.0      0.0    27.0
            BE     722.0    562.0     68.0     18.0     11.0    63.0
            BG      16.0     11.0      5.0      0.0      0.0     1.0
            CH     640.0    197.0    107.0     27.0     26.0   283.0
            CZ      13.0      0.0      9.0      0.0      0.0     4.0
            DE    5996.0   4515.0    554.0    165.0      6.0   757.0
            DK    1162.0    832.0     35.0      5.0      0.0   290.0
            EL       0.0      0.0      0.0      0.0      0.0     0.0
            ES    1051.0    667.0    152.0     81.0     45.0   105.0
            FI     512.0    371.0     40.0      2.0      1.0    98.0
            FR    9451.0   6848.0   1743.0    112.0      3.0   744.0
            HU     118.0     94.0      0.0      0.0      0.0    24.0
            IE     161.0     64.0      9.0      0.0      0.0    89.0
            IT    1160.0    974.0    123.0     30.0      0.0    33.0
            LU      74.0     32.0      0.0      0.0      0.0    41.0
            NL    1708.0   1031.0    388.0     46.0     23.0   220.0
            NO    1165.0    730.0    344.0      0.0      0.0    92.0
            PL     802.0    653.0    115.0      5.0      0.0    29.0
            PT     150.0     40.0     27.0     13.0      0.0    70.0
            RO      50.0     46.0      2.0      0.0      0.0     1.0
            SE    1722.0   1429.0    106.0     37.0      0.0   150.0
            UK   20521.0  17382.0   2157.0     67.0     82.0   833.0

UNIT                                                   PC_GDP          \
EXPEND          INV_VEN_LATE INV_VEN_SEED INV_VEN_STAR    INV INV_BUY
TIME_PERIOD GEO
2015        AT           5.0         10.0         13.0  0.032     NaN
            BE          30.0          0.0         33.0  0.176     NaN
            BG           0.0          0.0          1.0  0.036     NaN
            CH         143.0          5.0        134.0    NaN     NaN
            CZ           1.0          1.0          1.0  0.008     NaN
            DE         330.0         44.0        383.0  0.198     NaN
            DK          53.0          8.0        230.0  0.437     NaN
            EL           0.0          0.0          0.0  0.000     NaN
            ES          40.0          3.0         62.0  0.097     NaN
            FI          25.0          9.0         64.0  0.247     NaN
            FR         364.0         11.0        370.0  0.433     NaN
            HU           3.0          3.0         18.0  0.109     NaN
            IE          38.0          0.0         50.0  0.075     NaN
            IT          13.0          2.0         18.0  0.071     NaN
            LU           7.0          0.0         34.0  0.141     NaN
            NL          64.0          8.0        147.0  0.252     NaN
            NO          53.0          2.0         37.0  0.333     NaN
            PL          15.0          3.0         12.0  0.188     NaN
            PT          18.0          5.0         47.0  0.084     NaN
            RO           1.0          0.0          0.0  0.031     NaN
            SE          57.0          0.0         93.0  0.388     NaN
            UK         512.0         10.0        310.0  0.799     NaN

UNIT                                                                          \
EXPEND          INV_GROW INV_REPL INV_RESC INV_VEN INV_VEN_LATE INV_VEN_SEED
TIME_PERIOD GEO
2015        AT       NaN      NaN      NaN   0.008          NaN          NaN
            BE       NaN      NaN      NaN   0.015          NaN          NaN
            BG       NaN      NaN      NaN   0.002          NaN          NaN
            CH       NaN      NaN      NaN     NaN          NaN          NaN
            CZ       NaN      NaN      NaN   0.002          NaN          NaN
            DE       NaN      NaN      NaN   0.025          NaN          NaN
            DK       NaN      NaN      NaN   0.109          NaN          NaN
            EL       NaN      NaN      NaN   0.000          NaN          NaN
            ES       NaN      NaN      NaN   0.010          NaN          NaN
            FI       NaN      NaN      NaN   0.047          NaN          NaN
            FR       NaN      NaN      NaN   0.034          NaN          NaN
            HU       NaN      NaN      NaN   0.022          NaN          NaN
            IE       NaN      NaN      NaN   0.041          NaN          NaN
            IT       NaN      NaN      NaN   0.002          NaN          NaN
            LU       NaN      NaN      NaN   0.079          NaN          NaN
            NL       NaN      NaN      NaN   0.032          NaN          NaN
            NO       NaN      NaN      NaN   0.026          NaN          NaN
            PL       NaN      NaN      NaN   0.007          NaN          NaN
            PT       NaN      NaN      NaN   0.039          NaN          NaN
            RO       NaN      NaN      NaN   0.001          NaN          NaN
            SE       NaN      NaN      NaN   0.034          NaN          NaN
            UK       NaN      NaN      NaN   0.032          NaN          NaN

UNIT
EXPEND          INV_VEN_STAR
TIME_PERIOD GEO
2015        AT           NaN
            BE           NaN
            BG           NaN
            CH           NaN
            CZ           NaN
            DE           NaN
            DK           NaN
            EL           NaN
            ES           NaN
            FI           NaN
            FR           NaN
            HU           NaN
            IE           NaN
            IT           NaN
            LU           NaN
            NL           NaN
            NO           NaN
            PL           NaN
            PT           NaN
            RO           NaN
            SE           NaN
            UK           NaN

In [60]:
p = figure(plot_width = 400, plot_height = 400)
p.square(tab2.loc[:,('PC_GDP','INV')], tab2.loc[:,('PC_GDP','INV_VEN')], size = tab2.loc[:,('MIO_EUR','INV')] / 500, color = "blue", alpha = 0.6)
show(p)